<div class="grid-container">
  <div class="grid-item">
    <div>Quant</div>
    <div>
      <label for="Current">Current </label>
        <input type="text">
      <label for="Target">Target </label>
        <input type="text">
    </div>
  </div>
  <div class="grid-item">
    <div>Verbal</div>
    <div>
      <label for="Current">Current </label>
        <input type="text">
      <label for="Target">Target </label>
        <input type="text">
    </div>
  </div>
</div>
<br>
<button id="button">Submit and refresh</button>
